.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
.env
/README.original.md
*.log
/*.Rcheck/
/*.tar.gz
/docs/
/inst/doc/
/vignettes/*.html
/vignettes/*.R
/downloads/
/manifests/
/plans/
/repositories/
/runs/
/staging/
/warehouse/
